@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto+Flex&display=swap");
.logo {
  width: 20%;
  height: 20%;
  cursor: pointer;
}

li {
  font-family: "Roboto flex";
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

a {
  font-family: "Roboto flex";
  font-weight: 500;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.menuPrincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #ffffff;
}

.navLinks {
  list-style-type: none;
}
.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}
.navLinks li a {
  text-transform: uppercase;
}
.navLinks li a:hover {
  color: #f9503b;
}

body {
  background-color: #f1eae0;
  padding-bottom: 5%;
  padding-top: 0;
  border-radius: 0;
  border: none;
}

.proceso {
  background-color: #4922d0;
  padding-bottom: 5%;
  padding-top: 0;
  border-radius: 0;
  border: none;
}

.wave2 {
  background-color: #4922d0;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 0;
  border: none;
}

.galeria {
  background-color: #a87bab;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 0;
  border: none;
}

.wave {
  background-color: #a87bab;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 0;
  border: none;
}

.servicios {
  background-color: #e8bc78;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 0;
  border: none;
}

.cardColor1 {
  background-color: #e8bc78;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 20px;
  border: none;
}

.cardColor2 {
  background-color: #a87bab;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 20px;
  border: none;
}

.logotipo {
  width: 80px;
  height: 15px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.interna {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2%;
  border-radius: 5%;
}

.banner {
  width: 1800px;
  height: 500px;
  margin: 5px;
  padding: 15px;
  border-radius: 0;
}

.icono {
  width: 30%;
  height: 30%;
  margin: 10px;
  padding: 10px;
  border-radius: 0;
}

footer {
  background-color: #fa6654;
  padding: 40px;
  text-align: center;
}

/*Textos*/
h1 {
  text-align: center;
  font-weight: bold;
  color: #4922d0;
  margin: 20px;
  padding: 15px;
  font-family: "Paytone one";
}

h2 {
  text-align: left;
  color: #f9503b;
  margin: 20px;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
  font-weight: 700;
  font-family: "Roboto flex";
}

h3 {
  text-align: center;
  color: #f3f6fa;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Roboto flex";
}

p {
  text-align: left;
  color: black;
  font-weight: 400;
  line-height: 30px;
  text-justify: distribute;
  font-family: "Roboto flex";
}

.sub {
  text-align: center;
  color: black;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
  font-family: "Roboto flex";
}

.sub1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
  font-family: "Roboto flex";
}

.parrafo {
  text-align: justify;
  color: black;
  font-weight: 400;
  font-size: large;
  line-height: 30px;
  text-justify: distribute;
  font-family: "Roboto flex";
}

.subtitulo {
  color: #ffffff;
  font-family: "Roboto flex";
  text-align: left;
  margin-left: 20px;
}

.H2centrado {
  text-align: center;
  color: #f9503b;
  margin: 20px;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
  font-family: "Roboto flex";
}

.ubicacion {
  background-color: #fa6654;
  padding-top: 2%;
}

.llamada {
  text-align: center;
  font-size: large;
  font-style: normal;
  font-family: "Roboto flex";
}

.boton {
  width: 200x;
  height: 60px;
  color: #e8bc78;
  font-size: medium;
  background-color: #ffffff;
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  padding: 20px;
}

.espacio {
  padding-top: 10px;
  padding-bottom: 30px;
}

form {
  margin-bottom: 20px;
  padding-right: 500px;
  font-family: "Roboto flex";
}

/*# sourceMappingURL=estilos.css.map */
