//*Colores*//
$color_1: black;
$color_2: #f9503b;
$color_3: #ffffff;
$color_4: #f3f6fa;
$color_5: #4922d0;
$color_6: #fa6654;
$color_7: #e8bc78;
$color_8: #f1eae0;
$color_9: #a87bab;

//*Fuentes*//
$font-family_1: "Roboto flex";

$font-family_2: "Paytone one";
