
/*fondos*/
@mixin fondos($color, $padding, $top, $borderrad, $border) {
    background-color:$color;
    padding-bottom:$padding;
    padding-top: $top;
    border-radius: $borderrad;
    border: $border;
}

.body {
    @include fondos($color_8 ,5% ,0 ,0 ,none )
}

.proceso {
    @include fondos($color_5 ,5% ,0 ,0 ,none )
}

.galeria {
    @include fondos($color_9 ,5% ,5% ,0 ,none )
}

.servicios {
    @include fondos($color_7 ,0 ,0 ,0 ,none )
}

.cardColor1 {
    @include fondos($color_7 ,0 ,0 ,20px ,none )
}

.cardColor2 {
    @include fondos($color_9 ,0 ,0 ,20px ,none )
}

/*Imagenes*/

@mixin imagenes($ancho,$alto,$margen,$marco,$radio,$tipo) {
    width: $ancho;
    height: $alto;
    margin: $margen;
    padding: $marco;
    border-radius: $radio;
    display: $tipo;
}

.logotipo {
    @include imagenes(80px ,15px ,0 ,0 ,0 ,none )
}

.interna {
    @include imagenes(100% ,100% ,0 ,2% ,5% ,none )
}

.banner {
    @include imagenes(1800px ,500px ,5px ,15px ,0 ,block )
}

.icono {
    @include imagenes(30% ,30% ,10px ,10px ,0 ,none )
}

