//*Colores*//
$color_1:black;
$color_2:#F9503B;
$color_3:#FFFFFF;
$color_4:#F3F6FA;
$color_5:#4922D0;
$color_6:#FA6654;
$color_7:#e8bc78;
$color_8:#F1EAE0;
$color_9:#a87bab;

//*Fuentes*//
$font-family_1:"Nunito", sans-serif;

