* {
    margin: 0;
    padding: 0;
}

/*Fondos*/
body {
    background-color:#E8E8E8 ;
}

.proceso {
    background-color: #4922D0;
    margin: 10px;
    padding: 15px;
}

.galeria {
    background-color:#A87BAB ;
    margin: 10px;
    padding: 15px;
}

.servicios {
    background-color:#E8BC78 ;
    margin: 10px;
    padding: 15px;
}
/*Titulos*/

h1 {
    text-align: center;
    font-weight: bold;
    color: #4922D0;
    margin: 20px;
    padding: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
    text-align: left;
    color:#F9503B;
    margin: 20px;
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    text-align: center;
    color:#F3F6FA;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Textos*/
p {
    text-align: left;
    color: black;
    font-weight: 400;
    line-height: 30px;
    text-justify: distribute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;

}

.subtitulo {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: 20px;
}

/*Listas*/
ol {
    margin: 20px;
    padding: 5px;
}

.H2centrado {
    text-align:center;
    color:#F9503B;
    margin: 20px;
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Menú*/
#navegador ul{
    list-style-type: none;
    text-align: right;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

#navegador li{
    display: inline;
    text-align: rigth;
    margin: 0 10px 0 0;
 }

a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black ;
    text-transform: uppercase;
    font-weight: medium;
    text-decoration: none;
    margin: 10px 10px;
}

.lista {
    list-style-type: decimal;
    margin: 2px;
    margin-right: 30px;
    padding: 2px;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/*Imagenes*/

.logotipo{
   width: 80px;
   height: 15px;
   margin-right: 0;
}

.interna{
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
}

.banner {
    width:1800px;
    height: 500px;
    margin: 5px;
    display: block;
    padding:15px;
}

.icono{
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;

}

/*Mapa*/

.ubicacion {
    background-color: #FA6654;
    margin: 0px;
    padding: 0px;
}

iframe {
    margin-right: 2000px;
    padding: 500px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.llamada { 
    text-align: center;
    font-size: large;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*Formulario*/

form {
    margin-bottom: 20px;
    padding-right: 500px;s
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
s
}

/*Boton*/

.boton {
    width: 200x;
    height: 60px;
    color:black;
    font-size: medium;
    background-color: #E8BC78;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

main {
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #FA6654;
    margin: 40px;
    padding: 40px;
}